<footer class="footer">
  <div class="footer-content">
    <div class="footer-brand">
      <span class="wheat-decoration">🌾</span>
      <p class="copyright">© {{ currentYear }} Austin Welsh-Graham | All Things Toasty Software Ltd</p>
      <span class="wheat-decoration">🍞</span>
    </div>

    <div class="footer-links">
      <div class="link-group">
        <h4>Connect</h4>
        <a href="https://github.com/AustinATTS" target="_blank" rel="noopener">
          <mat-icon>code</mat-icon> GitHub
        </a>
        <a href="https://discord.gg" target="_blank" rel="noopener">
          <mat-icon>chat</mat-icon> Discord
        </a>
        <a href="mailto:admin@toastysoftware.co.uk">
          <mat-icon>email</mat-icon> Email
        </a>
      </div>

      <div class="link-group">
        <h4>Sites</h4>
        <a href="https://www.austinatts.co.uk" target="_blank" rel="noopener">austinatts.co.uk</a>
        <a href="https://www.toastysoftware.co.uk" target="_blank" rel="noopener">toastysoftware.co.uk</a>
        <a href="https://archive.austinatts.co.uk" target="_blank" rel="noopener">archive.austinatts.co.uk</a>
      </div>
    </div>
  </div>
</footer>
